:root {
  --primary: #07250de5;
  --bg: #a0f98eab;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body > {
  font-family: "poppins", sans-serif;
  background-color: #ffffff;
  color: #fff;
  min-height: 300000px;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #304d30;
  border-bottom: 3px solid #eef0e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/*huruf jafarel mediatics*/
/*(huruf mediatics)*/
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #b6c4b6;
  font-style: italic;
}
/*(huruf mediatics)*/
.navbar .navbar-logo span {
  color: #eef0e5;
}

/*ubah navigasi bagian tengah web*/
/*editu tulisan di tengah*/
.navbar .navbar-nav a {
  color: #eef0e5;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
/*garis kecil bayangan di tengah*/
.navbar .navbar-nav a:hover {
  color: #b6c4b6;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffffff;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

/*bagian icon*/
.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #adbc9f;
}
#product-menu {
  display: none;
}
.container {
  width: 100%;
  height: min-content;
  border-radius: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  mix-blend-mode: difference;
  display: contents;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.video {
  width: 1430px;
  height: 700px;
  object-fit: fill;
  z-index: 0;
  background-size: cover;
  overflow: hidden;
}
.caption-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: end;
  align-items: end;
  background: linear-gradient(transparent, black);
  z-index: 1;
}
/* tulisan di tengah */
.content {
  text-align: right;
  font-size: 2rem;
  width: 100%;
  padding: 25px;
  color: #000000;
  mix-blend-mode: normal;
  line-height: 1.6;
  margin-top: -45%;
}

.content p {
  font-size: 2dvh;
}

/*tulisan beli sekarang*/
.cta {
  color: #12372a;
  font-size: 15pt center;
  font-style: italic;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 14px;
  border-radius: 12px;
  background-color: #fbfada;
  align-items: center;
  transition: 0.6s;
  padding: 5px 40px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  left: -0.2%;
  bottom: -15px;
}

.cta:hover {
  color: #436850;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /*border: 2px solid;*/
  padding: 5px 40px;
  background: #adbc9f;
  border-radius: 10px;
  transition: cubic-bezier(1, 0, 0, 1);
}

.logo {
  width: auto; /*biar gk pecah svg*/
  height: auto;
  transition: ease-in-out;
}

.jafarel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.jafarel h1 {
  /* font-size: 4rem; */
  font-size: clamp(1rem, 2.5vw, 4rem);
}

/* About Section */
.about {
  padding: 1.4rem 7%;
}

/* media queris (responsive size)CSS*/

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */

@media (max-width: 768px) {
  /* .jafarel h1 {
    font-size: 1rem !important;
  } */
  .logo {
    width: 150px;
  }
  html {
    font-size: 62.5%;
  }

  #product-menu {
    display: inline-block;
  }
  /*pengaturan navbar tablet & mobile version)*/
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #d2e3c8;
    width: 25rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  /*edit tulisan pada bentuk mobile*/
  .navbar .navbar-nav a {
    color: #163020;
    display: block; /*membuat tulisan dinavbar kebawah*/
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    color: #000000;
  }
  /*garis bayangan pada navbar*/
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* mobile phone */

@media (max-width: 450px) {
  html {
    font-size: 35%;
  }
  #product-menu {
    display: inline-block;
  }
}
