* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  background-color: rgb(246, 242, 242);
  color: #fff;
  scroll-behavior: smooth;
  transition: 0.2s;
}

/* @media (min-height: 817px) {
} */

#hero {
  height: 100vh;
  background: url(../img/hero1.png);
  background-size: cover;
  position: static;
  background-attachment: fixed;
}

section h1 {
  font-size: 3rem;
  color: bisque;
  /* margin: 1rem 4%; */
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* border-bottom: 1px solid black; */
}

/* navbar start */
header {
  transition: all 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
}
.navbar .navbar-logo:hover {
  /* background-color: antiquewhite; */
  color: rgb(92, 91, 91);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  font-weight: 700;
  font-family: "Freeman", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.navbar .navbar-nav a:hover {
  color: bisque;
  font-size: 1.1rem;
  transition: 0.2s linear;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: bisque;
}

#hamburger-menu {
  display: none;
}

/* Laptop  */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 63%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;

    width: 25.5rem;
    height: 100vh;
    display: flex;
  }

  .navbar .navbar-nav.active {
    right: 0;
    display: grid;
    padding: 20px 20px 585px 25px;
    text-align: center;
    transition: 0.3s linear;
  }

  .navbar .navbar-nav.active a {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar .navbar-nav.active a:hover {
    transition: 0.2s linear;
    color: rgb(52, 52, 52);
  }

  .navbar .navbar-nav.active a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #000000;
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .navbar-nav.active a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-logo img {
    width: 10%;
    background-color: rgb(255 255 255 / 95%);
    height: 10%;
    border-radius: 100%;
    margin: 0px 1%;
  }
}

/* HP */
@media (max-width: 481px) {
  html {
    font-size: 55%;
  }
}
/* navbar end */

/* hero Section START */

#hero .container {
  text-align: center;
  padding-top: 50px;
}

.container-logo img {
  border-color: #01010187;
  border-width: 2%;
  border-style: solid;
  width: 20%;
  background-color: rgb(255 255 255 / 100%);
  height: 48%;
  border-radius: 100%;
  left: 75%;
  position: relative;
  bottom: 195px;
}
.container-logo img:hover {
  border-color: #01010187;
  border-width: 2%;
  border-style: solid;
  transform: rotate(360deg);
  transition: 1s;
}

/* Laptop  */
@media (max-width: 1366px) {
  #hero .container-logo img {
    width: 33%;
    height: 50%;
    left: 64%;
    bottom: 80px;
  }
}

/* Tablet */
@media (max-width: 758px) {
  #hero .container-logo img {
    left: 43%;
    height: 50%;
    width: 50%;
    top: 160px;
  }
}

/* HP */
@media (max-width: 481px) {
  section {
    width: 100%;
    height: 100vh;
  }
  #hero .container-logo img {
    left: 47%;
    height: 20%;
    width: 50%;
    top: 10rem;
  }
}

/* hero Section END */
/* about */
#about {
  width: 100%;
  height: 145vh;
  margin-top: 4rem;
}

.about-container h1 {
  color: #ffffff;
  font-size: 3rem;
  border-bottom: 1px solid #fff;
  font-family: sans-serif;
}

.about-container {
  background-color: rgba(40, 61, 35, 0.8);
  padding: 1rem 3%;
  position: absolute;
  margin: 2rem 2%;
  width: 50%;
}
.about-container .about-content {
  justify-content: space-between;
  display: flex;
  /* flex-wrap: wrap; */
}
.about-bg img {
  filter: grayscale(100%);
}

.about-container .about-bg {
  margin: 2rem 3%;
}

.about-container .about-bg ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.about-container .about-bg ul li {
  font-weight: 700;
}

.about-container .about-bg ul li span {
  font-weight: lighter;
}
.about-container img {
  height: fit-content;
  width: 14rem;
}

.about-container .about-desc {
  width: max-content;
  padding: 0 5%;
}

.about-container .about-desc h2 {
  font-size: 3rem;
}
.about-container .about-desc p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* skills start */
.skills-data {
  width: 98%;
  padding: 0 5%;
}

.persentage {
  height: 23px;
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 5px;
}

.html {
  width: 90%;
  height: 23px;
  background-color: rgba(24, 131, 219, 1);
}
.css {
  width: 95%;
  height: 23px;
  background-color: rgba(24, 131, 219, 1);
}
.js {
  width: 65%;
  height: 23px;
  background-color: rgba(24, 131, 219, 1);
}
.php {
  width: 60%;
  height: 23px;
  background-color: rgb(24, 131, 219);
}
/* SIDE CAPTION */
.side-caption {
  height: 100vh;
  position: absolute;
  left: 55%;
  top: 110%;
}

.side-caption .side1 {
  border-radius: 50px 0px 0px 50px;
  transition: ease all 0.5s;
  padding: 2rem 8%;
  color: #011206;
  height: 10rem;
  margin-top: 15px;
}
.side-caption .side1:hover {
  background-color: #000000;
  color: rgb(246, 242, 242);
  /* border-radius: 50px 0px 0px 50px; */
  width: 100%;
  padding: 8px 5%;
  height: 31%;
}

.side-caption .side1 h1 {
  color: rgb(112, 112, 112, 80%);
  font-size: 100px;
}

.side-caption .side1 h1:hover {
  color: rgb(246, 242, 242);
}

.side-caption .side1 p {
  color: transparent;
  font-size: 18px;
  height: 18rem;
}
.side-caption .side1 p:hover {
  color: rgb(246, 242, 242);
  font-size: 18px;
}

@media (max-width: 1366px) {
  .side-caption .side1 p:hover {
    font-size: 100%;
  }
}

@media (max-width: 758px) {
  #about {
    width: 100%;
    height: 282vh;
    display: grid;
    justify-content: space-between;
    align-content: space-around;
  }
  .about-container img {
    height: fit-content;
    width: 20rem;
  }
  .about-container .about-bg ul {
    font-size: 18px;
  }

  #about .about-container .about-content p {
    font-size: 17px;
  }
  .about-container {
    padding: 6rem 5%;
    position: absolute;
    margin: 2rem 3%;
    width: 94%;
  }
  .about-container .about-content {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    grid-gap: 13px;
  }

  .side-caption {
    height: 100vh;
    top: 280%;
    left: 30%;
  }

  .side-caption .side1 {
    border-radius: 50px 0px 0px 50px;
    /* background-color: #000000; */
    transition: ease all 0.5s;
    width: 24%;
    padding: 2rem 8%;
    color: #011206;
    height: 10rem;
    margin-top: 18px;
  }
  .side-caption .side1:hover {
    background-color: #000000;
    color: rgb(246, 242, 242);
    /* border-radius: 50px 0px 0px 50px; */
    width: 100%;
    padding: 15px 7%;
    height: 46%;
  }

  .side-caption .side1 p {
    color: transparent;
    font-size: 98%;
  }
  .side-caption .side1 p:hover {
    color: rgb(143, 143, 143);
    font-size: 18px;
  }
  .side-caption .side1:hover {
    background-color: #000000;
    color: rgb(246, 242, 242);
    /* border-radius: 50px 0px 0px 50px; */
    width: 100%;
    padding: 0 5%;
    height: 25rem;
  }
}

@media (max-width: 481px) {
  #about .about-container .about-content p {
    font-size: 15px;
  }
  .side-caption {
    height: 100vh;
    top: 245%;
    left: 14%;
  }

  .side-caption .side1 {
    border-radius: 50px 0px 0px 50px;
    /* background-color: #000000; */
    transition: ease all 0.5s;
    width: 24%;
    padding: 2rem 8%;
    color: #011206;
    height: 10rem;
    margin-top: 18px;
  }
  .side-caption .side1:hover {
    width: 100%;
    padding: 11px 5%;
    height: 25%;
  }

  .side-caption .side1 h1 {
    font-size: 6rem;
  }

  .side-caption .side1 p {
    color: transparent;
    font-size: 18px;
  }
  .side-caption .side1 p:hover {
    color: rgb(143, 143, 143);
    font-size: 14px;
  }
}

/* skills end */

/* PORTFOLIO */
#portfolio {
  width: 100%;
  height: 120vh;
}

.port-container {
  background-color: #fff;
  box-shadow: 10px 20px 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem 5%;
  position: absolute;
  margin: 2rem 2%;
  width: 95%;
  height: 100vh;
}

.port-container h1 {
  color: #011206;
  font-size: 7rem;
}

.port-container h2 {
  color: #0c130e;
}

.port-container h3 {
  font-size: 45px;
  font-family: monospace;
  font-weight: bold;
  color: #000000;
}
.port-container p {
  color: #000000;
  width: 50rem;
  font-size: 18px;
}

.center,
.front-face,
.contents,
.back-face {
  position: absolute;
}

.center {
  top: 8rem;
  left: 58rem;
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

/* Laptop  */
@media (max-width: 1366px) {
  .center {
    top: 23%;
    left: 55%;
    height: 80%;
    width: 30%;
  }
  .port-container p {
    /* font-size: 85%; */
    width: 45%;
  }
}

@media (max-width: 1200px) {
  .center {
    /* left: 50%; */
  }
}
@media (max-width: 1000px) {
  .center {
    /* left: 45%;
    width: 25%; */
  }
}
/* Tablet */
@media (max-width: 758px) {
}

/* HP */
@media (max-width: 481px) {
}

.front-face,
.back-face {
  height: 69%;
  width: 135%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(82, 255, 2, 0.007)),
    url(../img/jafarel2.png);
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  padding: 2rem 10%;
  box-shadow: 10px 20px 15px 10px rgba(0, 0, 0, 0.1);
}

.contents {
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgb(0, 255, 225);
  /* background-color: rgb(0, 51, 255, 65%); */
  background-size: contain;
  background-clip: inherit;
  width: 100%;
}
.front span {
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.front p:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  /* background: rgb(0, 0, 0); */
  margin: 0 auto;
  margin-top: 10px;
}
.back-face {
  transform: rotateY(180deg);
  background: linear-gradient(45deg, #0d260fc8 0%, #51ce09 100%);
}
.back {
  color: white;
}
.back h2 {
  font-size: 22px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
}
.back h2:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  width: 75%;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 0 auto;
  margin-top: 10px;
}
.back span {
  font-size: 25px;
}
.icons {
  margin: 10px 0;
  display: block;
}
.icons a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  word-spacing: 1pt;
  padding: 6px 5%;
  height: 30px;
  width: 30px;
  /* background: white; */
  border-radius: 50%;
  margin: 5px 5px;
  line-height: 40px;
  cursor: pointer;
  background-size: cover;
}

.icons a:hover {
  /* font-size: 5px; */
  color: rgb(247, 252, 76);
}

.center:hover > .back-face {
  transform: rotateY(0deg);
}
.center:hover > .front-face {
  transform: rotateY(-180deg);
}
/* PORTFOLIO */

footer {
  background-color: rgb(24, 25, 24);
  height: 4vh;
  /* margin: 2rem 0 0 0; */
  font-size: 7px;
  text-align: center;
  color: #fff;
  padding: 10px 5%;
  top: 0;
  bottom: 0;
  left: 0;
}

.footer-cr h1 {
  font-family: monospace;
}
