:root {
  --primary: #12372a;
  --bg: #fbfada;
  --text: #000;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  /* background-color: #fefee9; */
  background-color: var(--bg);
  width: 100%;
}

/*navbar*/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: #304d30;
  /* border-bottom: 1px solid #eef0e5; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/*huruf jafarel mediatics*/
/*(huruf mediatics)*/
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #b6c4b6;
  font-style: italic;
}

/*(huruf mediatics)*/
.navbar .navbar-logo span {
  color: #eef0e5;
}

/*ubah navigasi bagian tengah web*/
/*editu tulisan di tengah*/
.navbar .navbar-nav a {
  color: #eef0e5;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

/*garis kecil bayangan di tengah*/
.navbar .navbar-nav a:hover {
  color: #b6c4b6;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffffff;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

/*bagian icon*/
.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #ffffff;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 25%;
  background-color: rgb(255, 255, 255);
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaley(1);
  width: 25rem;
  height: 3rem;
  top: 100%;
  right: 10%;
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: #000;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #000;
}

.act-btn {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  color: rgb(0, 255, 17);
  transition: ease all 0.3s;
  position: fixed;
  right: 100px;
  bottom: 21px;
  z-index: 9999;
}

.act-btn:hover {
  color: rgb(163, 242, 146);
}

#product-menu {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  border-radius: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  mix-blend-mode: difference;
  display: contents;
  align-items: center;
  min-height: 100vh;
  position: absolute;
  object-fit: cover;
}

#home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#home .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-size: cover;
  overflow: hidden;
}

.caption-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: end;
  align-items: end;
  background: linear-gradient(transparent, black);
  z-index: 1;
}

/* tulisan di tengah */
.content {
  position: absolute;
  bottom: 50px;
  text-align: right;
  font-size: 2rem;
  width: 100%;
  padding: 62px;
  color: #000000;
  mix-blend-mode: normal;
  line-height: inherit;
}

.content p {
  font-size: 2dvh;
}

/*tulisan beli sekarang*/
.cta {
  color: #12372a;
  font-size: 15pt center;
  font-style: italic;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 14px;
  border-radius: 12px;
  background-color: #fff;
  align-items: center;
  transition: 0.6s;
  padding: 5px 40px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  left: -0.2%;
  bottom: -15px;
}

.cta:hover {
  color: #365486;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /*border: 2px solid;*/
  padding: 5px 40px;
  background: var(--bg);
  border-radius: 10px;
  transition: cubic-bezier(1, 0, 0, 1);
}

.logo {
  width: auto;
  /*biar gk pecah svg*/
  height: auto;
  transition: ease-in-out;
}

.jafarel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.jafarel h1 {
  /* font-size: 4rem; */
  font-size: clamp(1rem, 2.5vw, 4rem);
}

.translate {
  size-adjust: 5px;
  padding-right: 1rem;
  margin-right: 1rem;
}

/* About Section */
.about,
.contact {
  /* width: 100%;
  top: 850px;
  size: 85px;
  padding: 60px;
  margin: auto;
  margin-top: auto;
  text-align: center;
  justify-content: center; */
  width: 100%;
  size: 50px;
  padding: 60px;
  margin: auto;
  text-align: center;
}

.about,
.contact h2 {
  text-align: center;
  font-size: 2rem;
}

/* .contact .contact-icon {
  size-adjust: 20rem;
  color: #ffffff;
} */

.about .row {
  display: flex;
  justify-content: space-around;
}

.about .row .about-img img {
  width: 95%;
  padding-left: 7rem;
  margin-right: 10rem;
  justify-content: center;
}

.content-about-us {
  max-width: 40%;
  margin: auto;
  margin-right: 80px;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.about .row .content-about-us h3 {
  font-size: 2rem;
}

.about .row .content-about-us .p h3 {
  margin-bottom: 15rem;
  font-size: 0.5rem;
}

.about .row .content-about-us h4 {
  font-size: 1.8rem;
}

.about .row .content-about-us .p h4 {
  margin-bottom: 15rem;
}

/* Product Section */
.product {
  width: 100%;
  size: 50px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.product h2 {
  text-align: center;
  font-size: 2.6rem;
}

.product p {
  text-align: center;
  color: #000000;
  max-width: 30rem;
  margin: auto;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.product .row .product-card {
  text-align: center;
  padding-bottom: 2rem;
}

.product .row .product-card img {
  border-radius: 50%;
  width: 50%;
}

.product .row .product-card .product-card-title {
  margin-top: 1.5rem auto 0.5rem;
}

/* Contact Section */
.contact {
  /* background: url("https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  /* background-color: #12372a; */
  /* background-size: cover;
  filter: blur(5px); */
  position: relative;
  height: min-content;
  /* border: #adbc9f 1.5px; */
  flex: 1 1 45rem;
  /* padding: 5rem 3rem; */
  text-align: center;
  color: #000000;
  max-width: 80%;
  margin: auto;
}

.contact img {
  width: 100%;
  height: 100%;
  filter: blur(1.5px);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  /*urutan niban*/
}

.contact .caption {
  color: #000;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  border: 1px 1px 1px #000;
}

.contact .caption h2 {
  padding-bottom: 5px;
}

.contact .caption .map {
  padding: 2rem;
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border: 10px rgb(0, 0, 0);
}

.contact .caption .contact-icon a {
  padding: 1rem 0.5rem;
  color: #000000;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  text-align: center;
  margin-inline: 1.5rem;
  /* border: #000000;
  border-radius: 25px; */
}

.contact .caption .contact-icon a:hover::after {
  color: whitesmoke;
}

/* footer*/

footer {
  background-color: #304d30;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  color: #fbfada;
  padding-bottom: 1.2rem;
}

footer .social {
  padding: 3rem 4;
}

footer .social a {
  color: #ffffff;
  margin: 1rem;
}

footer .social a:hover {
  color: #000000;
}

footer .social,
.links a:hover {
  color: #000000;
}

footer .links {
  margin: bottom 1.6rem;
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

/* SHOPPING.HTML */
/* Slideshow container */
.slideshow-container {
  /* max-width: 500px; */
  width: 55%;
  height: auto;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-bottom: 5rem;
  margin-top: 15px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 20px auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(0, 0, 0, 0.639);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #eae9e9;
  backface-visibility: 50%;
  opacity: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0.3rem;
  border-radius: 8px 0 0 8px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #fff;
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: difference;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  bottom: 80px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.batas {
  width: 100%;
  padding: 10px;
}
.batas div {
  width: 95%;
  height: 5rem;
  background-color: var(--primary);
  margin: auto;
}

.kategori {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.kategori h1 {
  font-size: 6rem;
  color: var(--primary);
}
.caption-kategori {
  padding: 50px;
  padding-bottom: 80px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background: var(--bg);
  justify-content: center;
}

.caption-kategori a {
  color: #12372a;
  font-style: italic;
  border-radius: 12px;
  border: solid;
  background-color: #fff;
  align-items: center;
  transition: 0.6s;
  padding: 12px 70px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.caption-kategori a:hover {
  color: #365486;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid;
  padding: 10px 65px;
  background: #edefed;
  border-radius: 10px;
  transition: cubic-bezier(1, 1, 1, 1);
}

.img-kategori img {
  width: 52rem;
  height: 100%;
  opacity: 90%;
}

.kategori p {
  color: var(--text);
}
.kategori span {
  color: rgb(74, 87, 57);
}

.find-here {
  position: relative;
  margin: 15px;
  font-size: 2rem;
  border-width: 7px;
}

.caption-kategori .find-here ul {
  margin: 0px;
  padding: 10px;
  background: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -15px;
  left: 2rem;
  text-align: center;
  margin-left: 23rem;
  font-size: 10px;
}

.caption-kategori .find-here ul li {
  list-style: none;
  display: inline-block;
}
.caption-kategori .find-here:hover ul li a {
  display: block;
}

.caption-kategori .find-here ul li a {
  display: none;
  text-decoration: none;
  padding: 20px;
}

.caption-kategori .find-here ul li a:hover {
  display: block;
}

.caption-kategori .find-here ul li .dropdown {
  display: none;
}

.caption-kategori .find-here ul li:hover .dropdown {
  display: block;
  /* position: absolute;
  padding: 2px; */
}

.caption-kategori .find-here ul li:hover .dropdown li {
  display: block;
}

.caption-kategori .find-here ul li:hover .dropdown li a {
  padding: 5px;
  /* border-radius: 1px; */
  margin-bottom: 1px;
}

.caption-kategori .find-here ul li:hover .dropdown li a:hover {
  display: block;
  box-shadow: 20px 20px 50px 10px pink inset;
  background: #000;
}

/* ALKES */
/* BID */
.bid {
  text-align: left;
  font-size: 35pt;
  color: var(--text);
  font-family: "Lucida grande";
  margin: 7px 7px auto;
  padding-bottom: 30px;
}

* {
  box-sizing: border-box;
}
.alkes {
  display: flex;
  grid-template-columns: auto;
  justify-content: center;
}

.box {
  padding: 10px;
  padding-top: 20px;
}
.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: rgb(26, 42, 61);
  border-radius: 22px;
  overflow: hidden;
  background-size: cover;
  box-shadow: 3px 3px 5px grey;
}

.one {
  background-image: url(../img/PRODUCT/salm-set.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.two {
  background-image: url(../img/PRODUCT/sam-ca.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.three {
  background-image: url(../img/PRODUCT/typ-ca.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.content-card {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  transform: translateY(70px);
  transition: 0.3s;
}

.content-card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -47px;
  right: -45px;
  transform: rotate(-175deg);
  border-radius: 45%;
  box-shadow: inset 48px 48px white;
}

.title {
  color: grey;
  line-height: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}
.subtitle {
  display: block;
  margin-bottom: -8px;
  margin-top: 4px;
  font-size: 10px;
}

.description {
  font-size: 10px;
  opacity: 0;
  transition: opacitiy 0.5s;
  text-align: justify;
}

.card:hover .content-card {
  transform: translateY(0);
}

.card:hover .description {
  opacity: 1;
  transition-delay: 0.3s;
}
/* SHOPPING.HTML */

/* media queris (responsive size)CSS*/
/* laptop */
@media (min-width: 1281px) {
  html {
    font-size: 75%;
  }
}

/* tablet */

@media (max-width: 1025px) {
  .content {
    text-align: right;
    font-size: 1.8rem;
    width: 100%;
    padding: 42px;
    color: #000000;
  }

  /* .jafarel h1 {
    font-size: 1rem !important;
  } */
  .logo {
    width: 150px;
    aspect-ratio: 1/1;
  }

  html {
    font-size: 82.5%;
  }

  #product-menu {
    display: inline-block;
  }

  /*pengaturan navbar tablet & mobile version)*/
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #d2e3c8;
    width: 45%;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .cta {
    size-adjust: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
    padding: 18px;
  }

  /* .about .row .about-img img {
    height: 65%;
    width: 65%;
    align-items: center;
    padding: 15px;
    align-items: center;
    margin-bottom: auto;
    object-fit: cover;
    object-position: center;
  } */

  .about .content-about-us {
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  .about h2 {
    font-size: 2.6rem;
    text-transform: capitalize;
    margin-bottom: auto;
    padding-top: 5rem;
  }

  .about p {
    padding: 1px;
    margin-bottom: 1rem;
  }

  /*edit tulisan pada bentuk mobile*/
  .navbar .navbar-nav a {
    color: #163020;
    display: block;
    /*membuat tulisan dinavbar kebawah*/
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    color: #000000;
  }

  /*garis bayangan pada navbar*/
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

.navbar .search-form {
  width: 90%;
  right: 2rem;
}

.product {
  width: 100%;
  size: 50px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.product h2 {
  padding-bottom: 1px;
}

/* mobile phone */

@media (max-width: 480px) {
  html {
    font-size: 60%;
  }

  #product-menu {
    display: inline-block;
  }
}
